{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Family Calendar</h1>
    </div>
    <div class="container">
        <!-- <div class="col-md-12"> -->
            <iframe src="https://calendar.google.com/calendar/embed?title=Arney%20Family%20Calendar&amp;showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=1000&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=acedarney%40gmail.com&amp;color=%23182C57&amp;src=jmae1009%40gmail.com&amp;color=%23B1365F&amp;ctz=America%2FNew_York" style="border-width:0" width="100%" height="2000" frameborder="0" scrolling="no"></iframe>
        <!-- </div> -->
    </div>
{% endblock body %}
